.hero 
  &-block 
    margin: 115px 0 0
    &.about 
      display: flex 
      justify-content: end 
  &-text 
    &.about 
      max-width: 730px
      width: 100%
    &__title 
      max-width: 1010px
      margin-bottom: 33px
      +black
      font-size: 48px
      line-height: 68px
      &.about 
        margin-bottom: 20px
        +reg 
        font-size: 30px 
        line-height: 48px 
    &__description
      max-width: 800px
      margin-bottom: 66px
      font-size: 18px
      line-height: 28px
      &.about 
        margin-bottom: 0 
        color: rgba(30, 33, 40, 0.6) 
        +med 
        font-size: 14px 
        line-height: 24px
  &-link 
    margin-left: 95px

@media (max-width: 1200px)
  .hero-text.about 
    max-width: 760px
@media (max-width: 768px)
  .hero 
    &-text 
      &.about 
        margin-bottom: 100px
      &__title 
        font-size: 34px
        line-height: 50px
      &__description 
        font-size: 16px
    &-link 
      margin-left: 0
    &.section 
      padding: 20px 0
@media (max-width: 425px)
  .hero 
    &-block 
      margin-top: 150px
    &-text 
      &__title 
        margin-bottom: 18px
        font-size: 24px
        line-height: 40px
        &.about 
          +med 
          font-size: 20px 
          line-height: 40px 
      &__description 
        font-size: 14px
        line-height: 24px
    &.section 
      padding: 0