* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  color: #1e2128;
  height: 100%;
  background: #f9f9f9;
  font-family: 'Inter Regular', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

main {
  position: relative;
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: relative;
  width: 1110px;
  margin: auto;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-family: 'Inter Regular', sans-serif;
  font-size: 36px;
  text-align: center;
  margin: auto;
  padding-bottom: 74px;
}

.link {
  position: relative;
  padding-bottom: 2px;
  z-index: 0;
  display: inline-block;
  color: #1e2128;
  text-decoration: none;
  -webkit-transition: color 450ms linear 264ms;
  transition: color 450ms linear 264ms;
}

.link:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 45%;
  left: -0.15em;
  right: -0.15em;
  background: #1e2128;
  opacity: 0.3;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  -webkit-transition: 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1), 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: scale(0.98, 0) translateZ(0);
          transform: scale(0.98, 0) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: -1;
}

.link:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #1e2128;
  background-size: 100% 100%;
  -webkit-transition: 190ms opacity cubic-bezier(0.895, 0.03, 0.685, 0.22), background 450ms linear 264ms;
  transition: 190ms opacity cubic-bezier(0.895, 0.03, 0.685, 0.22), background 450ms linear 264ms;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.link:hover:before {
  -webkit-transform: scale(1, 0.98) translateZ(0);
          transform: scale(1, 0.98) translateZ(0);
}

.link:hover:after {
  opacity: 0;
  -webkit-transition: 126ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 126ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu {
  position: relative;
  top: 0;
  right: 0;
  z-index: 15;
  width: 40px;
  height: 40px;
}

.menu a.target-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu a.target-burger:hover {
  cursor: pointer;
  opacity: .7;
}

.menu a.target-burger ul.buns {
  margin: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  list-style: none;
  color: #f9f9f9;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.menu a.target-burger ul.buns li.bun {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #1e2128;
  -webkit-transform: translateY(-3px) translateZ(0);
          transform: translateY(-3px) translateZ(0);
  -webkit-transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms, 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
}

.menu a.target-burger ul.buns li.bun:last-child {
  -webkit-transform: translateY(3px) translateZ(0);
          transform: translateY(3px) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun {
  background-color: #f9f9f9;
  -webkit-transform: rotate(45deg) translateZ(0);
          transform: rotate(45deg) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun:last-child {
  -webkit-transform: rotate(-45deg) translateZ(0);
          transform: rotate(-45deg) translateZ(0);
}

nav.main-nav {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 0;
  height: 275px;
  width: 275px;
  padding: 30px;
  background-color: #1e2128;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: .3s;
  transition: .3s;
}

nav.main-nav.toggled {
  display: block;
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: inherit;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.main-nav ul {
  margin: 28px 0 0;
}

nav.main-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.main-nav ul li a.item {
  position: relative;
  font-size: 22px;
  text-decoration: none;
  color: #f9f9f9;
  padding: 12px 0;
  font-weight: 300;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.main-nav ul li a.item:hover {
  opacity: 0.7;
}

nav.main-nav ul li a.item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 23px;
  width: 0;
  height: 2px;
  background-color: #f9f9f9;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav.main-nav ul li a.item:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 23px;
  height: 2px;
  background-color: #f9f9f9;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav.main-nav ul li a.link {
  margin-top: 70px;
  color: #ffffff;
  font-size: 16px;
}

nav.main-nav ul li a.link:before {
  background: #ffffff;
}

nav.main-nav ul li a.link:after {
  background: #ffffff;
}

.dropdown {
  width: 100%;
}

.dropdown + .dropdown {
  margin-top: 40px;
}

.dropdown__top {
  max-width: 720px;
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  -webkit-transition: 0.67s color;
  transition: 0.67s color;
}

.dropdown__top em {
  display: inline-block;
  margin: 7px 13px;
  width: 8px;
  height: 8px;
  border-left: 2px solid rgba(249, 249, 249, 0.3);
  border-top: 2px solid rgba(249, 249, 249, 0.3);
  -webkit-transform: translate3d(0, 0, 0) rotate(-135deg);
          transform: translate3d(0, 0, 0) rotate(-135deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 0.67s border-color, 0.67s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.67s border-color, 0.67s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.67s border-color, 0.67s transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.67s border-color, 0.67s transform cubic-bezier(0.19, 1, 0.22, 1), 0.67s -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
}

.dropdown__top:hover {
  color: rgba(255, 255, 255, 0.4);
}

.dropdown__top:hover.dropdown__top em {
  border-color: rgba(255, 255, 255, 0.5);
}

.dropdown.open em {
  -webkit-transform: translate3d(0, 4px, 0) rotate(45deg);
          transform: translate3d(0, 4px, 0) rotate(45deg);
}

.dropdown.open .dropdown__btm {
  opacity: 1;
}

.dropdown__btm {
  display: none;
  width: 100%;
  padding: 34px 0 0;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
  opacity: 0;
  -webkit-transition: opacity .6s ease 0s;
  transition: opacity .6s ease 0s;
}

.swiper {
  width: 1110px !important;
  height: 405px;
}

.swiper-slide {
  width: 540px;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide:hover {
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev {
  top: 486px !important;
  color: #1e2128 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 64px !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 30px !important;
}

@media (min-width: 1440px) {
  .swiper {
    width: 1680px !important;
  }
}

@media (min-width: 2560px) {
  .swiper {
    width: 2250px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .swiper {
    width: 100% !important;
    height: 360px;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 387px !important;
    left: 40% !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 387px !important;
    right: 40% !important;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px !important;
    font-weight: 600;
  }
}

@media (max-width: 490px) {
  .section-title {
    font-size: 25px;
    line-height: 36px;
  }
  .swiper {
    height: 270px;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 295px !important;
    left: 37% !important;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 295px !important;
    right: 37% !important;
  }
}

@media (max-width: 425px) {
  .menu {
    right: -6px;
  }
  nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 53px;
  }
  nav.main-nav ul {
    margin: 85px 0 0;
  }
  nav.main-nav ul li a.item {
    padding: 22px 0;
  }
  nav.main-nav ul li a.item:after {
    bottom: 33px;
  }
  nav.main-nav ul li a.item:hover:after {
    bottom: 33px;
  }
  nav.main-nav ul li a.item.email {
    margin-top: 190px;
  }
  .dropdown + .dropdown {
    margin-top: 28px;
  }
  .dropdown__top {
    font-size: 18px;
    line-height: 22px;
  }
  .dropdown__btm {
    padding: 25px 0 0;
  }
  .swiper {
    left: -22px;
    width: 112% !important;
  }
}

@media (max-width: 360px) {
  .swiper {
    left: -18px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 750px;
  }
  .swiper {
    left: -16px;
  }
}

@font-face {
  font-family: 'Inter LightBETA';
  src: url("../fonts/Inter/Inter-LightBETA.eot");
  src: url("../fonts/Inter/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Medium';
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url("../fonts/Inter/Inter-SemiBold.eot");
  src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Black';
  src: url("../fonts/Inter/Inter-Black.eot");
  src: url("../fonts/Inter/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Black.woff") format("woff"), url("../fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container {
  max-width: 1250px;
  width: 95%;
}

.header-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  height: 50px;
  width: 50px;
}

@media (min-width: 1920px) {
  .header .container {
    max-width: 1660px;
  }
}

@media (max-width: 1200px) {
  .header .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .header .container {
    max-width: 720px;
    width: 90%;
  }
}

@media (max-width: 425px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }
  .header-logo svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .header .container {
    max-width: 750px;
  }
}

.hero-block {
  margin: 115px 0 0;
}

.hero-block.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero-text.about {
  max-width: 730px;
  width: 100%;
}

.hero-text__title {
  max-width: 1010px;
  margin-bottom: 33px;
  font-family: 'Inter Black', sans-serif;
  font-size: 48px;
  line-height: 68px;
}

.hero-text__title.about {
  margin-bottom: 20px;
  font-family: 'Inter Regular', sans-serif;
  font-size: 30px;
  line-height: 48px;
}

.hero-text__description {
  max-width: 800px;
  margin-bottom: 66px;
  font-size: 18px;
  line-height: 28px;
}

.hero-text__description.about {
  margin-bottom: 0;
  color: rgba(30, 33, 40, 0.6);
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.hero-link {
  margin-left: 95px;
}

@media (max-width: 1200px) {
  .hero-text.about {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .hero-text.about {
    margin-bottom: 100px;
  }
  .hero-text__title {
    font-size: 34px;
    line-height: 50px;
  }
  .hero-text__description {
    font-size: 16px;
  }
  .hero-link {
    margin-left: 0;
  }
  .hero.section {
    padding: 20px 0;
  }
}

@media (max-width: 425px) {
  .hero-block {
    margin-top: 150px;
  }
  .hero-text__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 40px;
  }
  .hero-text__title.about {
    font-family: 'Inter Medium', sans-serif;
    font-size: 20px;
    line-height: 40px;
  }
  .hero-text__description {
    font-size: 14px;
    line-height: 24px;
  }
  .hero.section {
    padding: 0;
  }
}

.project-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px 62px 95px;
  margin-bottom: 100px;
  max-width: 825px;
  width: 100%;
  height: auto;
  background-color: rgba(30, 33, 40, 0.025);
  border-radius: 8px;
}

.project-item:last-child {
  margin-bottom: 80px;
}

.project-item__img {
  position: relative;
  height: 405px;
  width: 100%;
  margin-bottom: 14px;
}

.project-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-item__title {
  max-width: 540px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}

.project-item__subtitle {
  margin-bottom: 14px;
  max-width: 540px;
  width: 100%;
  font-size: 14px;
  opacity: 0.5;
}

.project-item.about {
  margin-bottom: 18px;
  background-color: transparent;
}

.project-link {
  margin-left: 95px;
}

.project.projects {
  padding: 190px 0 23px;
}

.project-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 66px;
}

.project-text {
  max-width: 730px;
  width: 100%;
}

.project-text__title {
  margin-bottom: 27px;
  font-size: 30px;
}

.project-text__description {
  margin-bottom: 0;
  color: rgba(30, 33, 40, 0.6);
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .project-text {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .project-item {
    padding: 0;
    background-color: #f9f9f9;
  }
  .project-item:last-child {
    margin-bottom: 100px;
  }
  .project-item__img {
    height: 360px;
    margin-bottom: 70px;
  }
  .project-item__title {
    font-family: 'Inter Black', sans-serif;
    line-height: 26px;
  }
  .project-item__subtitle {
    max-width: 240px;
    font-size: 12px;
  }
  .project-item.about {
    margin-bottom: 0;
  }
  .project-item.about .project-item__img {
    margin-bottom: 34px;
  }
  .project-link {
    margin-left: 0;
  }
  .project.projects {
    padding: 158px 0 0;
  }
}

@media (max-width: 490px) {
  .project-item__img {
    height: 270px;
  }
}

@media (max-width: 425px) {
  .project.about {
    padding-bottom: 30px;
  }
  .project-block {
    margin-bottom: 94px;
  }
  .project-text__title {
    font-family: 'Inter Medium', sans-serif;
    font-size: 20px;
  }
}

.skills {
  background-color: rgba(30, 33, 40, 0.025);
}

.skills-item {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(30, 33, 40, 0.1);
}

.skills-item:last-child {
  margin-bottom: 0;
}

.skills-item.about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.skills-item__title {
  margin-bottom: 15px;
  font-family: 'Inter Medium', sans-serif;
  font-size: 18px;
}

.skills-item__title.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-item__title.about span {
  font-size: 12px;
}

.skills-item__description {
  margin-bottom: 17px;
  font-family: 'Inter Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(30, 33, 40, 0.6);
}

.skills-item__description.about {
  color: rgba(255, 255, 255, 0.4);
}

.skills.about {
  background-color: #1e2128;
  color: #ffffff;
}

.skills.about.section {
  padding-bottom: 0;
}

@media (max-width: 425px) {
  .skills-item {
    margin-bottom: 30px;
  }
  .skills-item__title {
    margin-bottom: 26px;
    font-size: 20px;
  }
  .skills-item__title.about {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    margin-bottom: 28px;
    font-size: 16px;
  }
  .skills-item__title.about span {
    margin-bottom: 15px;
    font-family: 'Inter LightBETA', sans-serif;
    color: rgba(255, 255, 255, 0.4);
  }
  .skills-item__description.about {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 22px;
  }
}

.faq {
  background-color: #1e2128;
}

.faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.faq-block__list {
  max-width: 730px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 1200px) {
  .faq-block__list {
    max-width: 760px;
  }
}

.footer {
  background-color: #1e2128;
}

.footer-block {
  padding: 100px 0 30px;
}

.footer-email {
  margin-bottom: 66px;
  color: #ffffff;
  font-size: 18px;
}

.footer-email:before {
  background: #ffffff;
}

.footer-email:after {
  background: #ffffff;
}

.footer-link {
  margin-left: 0;
}

.footer-copywriter {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.footer-bg {
  width: 100%;
  height: 50px;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 2px, #1e2128 0, #1e2128 8px);
}

@media (max-width: 425px) {
  .footer-block {
    padding: 100px 0 44px;
  }
  .footer-email {
    margin-bottom: 43px;
  }
}
/*# sourceMappingURL=style.css.map */