* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  color: #1e2128;
  height: 1000vh;
  background: #f9f9f9;
  font-family: 'Inter Regular', sans-serif;
}

img {
  max-width: 100%;
}

main {
  position: relative;
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: auto;
}

.section {
  padding: 0 0 80px;
}

.section-title {
  font-family: 'Inter Regular', sans-serif;
  font-size: 36px;
  text-align: center;
  margin: auto;
  padding-bottom: 74px;
}

.button {
  padding: 19px 80px;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 69, 150, 0.08), 0px 8px 50px rgba(0, 69, 150, 0.16);
          box-shadow: 0px 4px 25px rgba(0, 69, 150, 0.08), 0px 8px 50px rgba(0, 69, 150, 0.16);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 490px) {
  .button {
    font-size: 14px;
    padding: 20px 60px;
  }
  .section-title {
    font-size: 25px;
    line-height: 36px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 750px;
    width: 90%;
  }
}

.menu {
  position: relative;
  top: 0;
  right: 0;
  z-index: 15;
  width: 40px;
  height: 40px;
}

.menu a.target-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu a.target-burger:hover {
  cursor: pointer;
  opacity: .7;
}

.menu a.target-burger ul.buns {
  margin: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  list-style: none;
  color: #f9f9f9;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.menu a.target-burger ul.buns li.bun {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #1e2128;
  -webkit-transform: translateY(-3px) translateZ(0);
          transform: translateY(-3px) translateZ(0);
  -webkit-transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
  transition: 500ms background cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-top cubic-bezier(0.19, 1, 0.22, 1), 500ms margin-bottom cubic-bezier(0.19, 1, 0.22, 1), 500ms transform cubic-bezier(0.19, 1, 0.22, 1) 83ms, 500ms -webkit-transform cubic-bezier(0.19, 1, 0.22, 1) 83ms;
}

.menu a.target-burger ul.buns li.bun:last-child {
  -webkit-transform: translateY(3px) translateZ(0);
          transform: translateY(3px) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun {
  background-color: #f9f9f9;
  -webkit-transform: rotate(45deg) translateZ(0);
          transform: rotate(45deg) translateZ(0);
}

.menu a.target-burger.toggled ul.buns li.bun:last-child {
  -webkit-transform: rotate(-45deg) translateZ(0);
          transform: rotate(-45deg) translateZ(0);
}

nav {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 0;
  height: 275px;
  width: 275px;
  padding: 30px;
  background-color: #1e2128;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: .3s;
  transition: .3s;
}

nav.toggled {
  display: block;
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: inherit;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul {
  margin: 28px 0 0;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a.item {
  position: relative;
  font-size: 22px;
  text-decoration: none;
  color: #f9f9f9;
  padding: 12px 0;
  font-weight: 300;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

nav ul li a.item:hover {
  opacity: 0.7;
}

nav ul li a.item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 23px;
  width: 0;
  height: 2px;
  background-color: #f9f9f9;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav ul li a.item:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 23px;
  height: 2px;
  background-color: #f9f9f9;
  -webkit-transition: width .3s;
  transition: width .3s;
}

nav ul li a.item.email {
  margin-top: 57px;
  font-size: 16px;
  text-decoration: underline;
}

nav ul li a.item.email:after {
  content: none;
}

@media (max-width: 425px) {
  .menu {
    right: -6px;
  }
  nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 53px;
  }
  nav.main-nav ul {
    margin: 85px 0 0;
  }
  nav.main-nav ul li a.item {
    padding: 22px 0;
  }
  nav.main-nav ul li a.item:after {
    bottom: 33px;
  }
  nav.main-nav ul li a.item:hover:after {
    bottom: 33px;
  }
  nav.main-nav ul li a.item.email {
    margin-top: 190px;
  }
}

@font-face {
  font-family: 'Inter LightBETA';
  src: url("../fonts/Inter/Inter-LightBETA.eot");
  src: url("../fonts/Inter/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Medium';
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url("../fonts/Inter/Inter-SemiBold.eot");
  src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Black';
  src: url("../fonts/Inter/Inter-Black.eot");
  src: url("../fonts/Inter/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Black.woff") format("woff"), url("../fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  font-display: swap;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container {
  max-width: 1250px;
  width: 95%;
}

.header-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  height: 50px;
  width: 50px;
}

@media (min-width: 1920px) {
  .header .container {
    max-width: 1660px;
    width: 95%;
  }
}

@media (max-width: 1200px) {
  .header .container {
    max-width: 900px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .header .container {
    max-width: 720px;
    width: 90%;
  }
}

@media (max-width: 425px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }
  .header-logo svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .header .container {
    max-width: 750px;
    width: 90%;
  }
}

.hero-text {
  margin-top: 215px;
}

.hero-text__title {
  max-width: 1010px;
  margin-bottom: 33px;
  font-family: 'Inter Black', sans-serif;
  font-size: 48px;
  line-height: 68px;
}

.hero-text__description {
  max-width: 800px;
  margin-bottom: 66px;
  font-size: 18px;
  line-height: 28px;
}

.hero-link {
  position: relative;
  margin-left: 103px;
  padding-bottom: 2px;
  z-index: 0;
  display: inline-block;
  color: #1e2128;
  text-decoration: none;
  -webkit-transition: color 450ms linear 264ms;
  transition: color 450ms linear 264ms;
}

.hero-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 45%;
  left: -0.15em;
  right: -0.15em;
  background: #1e2128;
  opacity: 0.3;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  -webkit-transition: 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1), 380ms -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: scale(0.98, 0) translateZ(0);
          transform: scale(0.98, 0) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: -1;
}

.hero-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: -0.025em;
  right: -0.075em;
  background: #1e2128;
  background-size: 100% 100%;
  -webkit-transition: 190ms opacity cubic-bezier(0.895, 0.03, 0.685, 0.22), background 450ms linear 264ms;
  transition: 190ms opacity cubic-bezier(0.895, 0.03, 0.685, 0.22), background 450ms linear 264ms;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.hero-link:hover:before {
  -webkit-transform: scale(1, 0.98) translateZ(0);
          transform: scale(1, 0.98) translateZ(0);
}

.hero-link:hover:after {
  opacity: 0;
  -webkit-transition: 126ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 126ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (max-width: 1024px) {
  .hero-text {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 34px;
    line-height: 50px;
  }
  .hero-text__description {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .hero-text__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 40px;
  }
  .hero-text__description {
    font-size: 14px;
    line-height: 24px;
  }
  .hero-link {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */